{% extends 'base.html' %}
{% block content %}
<br>
<br>
<h3 class="marginleft">Login</h3>
<form method="POST" class="marginleft">
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </p>
    <p><button type="submit">Login</button></p>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
<p class="marginleft">{{ messages }}</p>
{% endif %}
{% endwith %}
{% endblock %}
