{% extends 'base.html' %}
{% block content %}
    <br>
    <br>    
    {% if current_user.is_authenticated %}
    
    <div class="container">
        <p> Add Task :</p>
        <form action="/add" method="post" class="margintop inlineformfix">
            <input type="text" name="task" id="task" placeholder="new task">
            <button type="submit"> Add Task </button>
        </form>
    </div>

    <h3>Your To Do List</h3>
    <div  class="container">
            <div class="incompletecontainer">
                <h4>To Do</h4>
                {% for todo in todo_list %}
                {% if todo.userid == current_user.id and not todo.complete %}
                <p class="marginleft5"> - {{ todo.task }}</p>
                <a href="/update/{{ todo.id }}">Mark completed.</a>
                
                <a href="/edit/{{ todo.id }}">Edit.</a>
                <a href="/delete/{{ todo.id }}">Delete.</a>
                <p></p>
                <hr>
                {% endif %}
                {% endfor %}
            </div>

            <div class="completedcontainer">
                <h4>Completed Tasks</h4>
                {% for todo in todo_list %}
                {% if todo.userid == current_user.id and todo.complete %}
                <p> - {{ todo.task }}</p>
                <a href="/update/{{ todo.id }}">Mark as incomplete.</a>
                
                <a href="/edit/{{ todo.id }}" class="marginleft5">Edit.</a>
                <a href="/delete/{{ todo.id }}">Delete.</a>
                <p></p>
                <hr>
                {% endif %}
                {% endfor %}
            </div>
    </div>

    {% else %}
    <p class="marginleft">Please login to use the to do list manager.</p>
    {% endif %}

{% endblock %}